body{
    background-color: #5a464c;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.box{
    height: 50%;
    width: 70%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fffacc;
    box-shadow:5px 5px 2px 0px black;
    border-radius: 5px;
}
.container h2{
    color:#E2E8CE ;
    font-size: 3rem;
    font-weight: bold;
}
.box h1{
    font-weight: bold;
    font-size: 5rem;
    color: rgb(27, 8, 4);
}

button{
    box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;

}